body {


color:black;
margin:0px;
padding:0px;
font-family: 'Roboto', sans-serif;
}

.container {


width:100%;
height:100%;

}


.content {

width:60%;
margin:0 auto;


}


h1.content_h1 {

  text-align: center;
  font-size: 60px;
  text-transform: uppercase;


}

h1, h2, h3, h4, h5, h6 {
  color:blue;
  font-size: 100%;
  font-weight: normal;
}


.main {
display: grid;
grid-template-columns: 40% 60%;
grid-template-rows: 100%;
grid-template-areas:
"profile main_right";
}

.main-right {

grid-area:main_right;
display: grid;
grid-template-columns: 15% 30% 15% 40%;
grid-template-rows: auto auto auto auto;
grid-template-areas:
"main_1stRow main_1stRow main_1stRow main_1stRow"
". main_2stRow main_2stRow main_2stRow"
". main_3stRow main_3stRow main_3stRow"
". main_4stRow main_4stRow main_4stRow";

}


.main-right-1stRow {

grid-area:main_1stRow;

}

.main-right-2ndRow {

grid-area:main_2stRow;

}

.main-right-3rdRow {

grid-area:main_3stRow;

}


.main-right-4thRow {

grid-area:main_4stRow;

}

.main-left {
grid-area:profile;
background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.profile_img {

width:100%;

}

.top {
  background-color:white;
display:grid;
width:100%;
height:200px;
grid-template-columns: auto 85%;
grid-template-rows:  50% 50%;
grid-template-areas:
"resumeLogo topRubrik"
"resumeLogo topContact";

}

.left {
  margin:0px;
  padding:0px;
  width: 100%;
  height: auto;

  grid-area: resumeLogo;

}

.left img {

display: block;
margin-left: auto;
margin-right: auto;

position: relative;

width: 95%;



}

.topright {

grid-area:topRubrik;

}

.toptext {

float:right;
margin-right:40px;

}

.toptext h3  {

display: inline-block;
text-transform: uppercase;

}

.h3_black {

  font-size:40px;
  color:black;

}


.topbottomright {
    background-color:#e6e3de;
width:100%;
border-top:2px double darkgrey;

grid-area:topContact;

}

.green {

font-size:40px;
text-transform: uppercase;
color:#379e7c;
}

.greensplah {

font-size:40px;
color:#379e7c;
padding:10px;

}

.main-right {

background-color:white;


}
