body {

background-color:black;
color:white;
margin:0px;
padding:0px;
font-family: 'Roboto', sans-serif;
}

.container {


width:100%;
height:800px;

}


.content {

width:60%;
margin:0 auto;


}


h1.content_h1 {

  text-align: center;
  font-size: 60px;
  text-transform: uppercase;


}

h1, h2, h3, h4, h5, h6 {
  color:blue;
  font-size: 100%;
  font-weight: normal;
}


.main {
display: grid;
grid-template-columns: 40% 60%;
grid-template-rows: 100%;
grid-template-areas:
"profile main_right";
}

.main-right {

grid-area:main_right;

}


.main-left {
grid-area:profile;


}

.profile_img {

width:550px;

}

.top {
  background-color:white;
display:grid;
width:100%;
height:200px;
grid-template-columns: auto 85%;
grid-template-rows:  50% 50%;
grid-template-areas:
"resumeLogo topRubrik"
"resumeLogo topContact";

}

.left {
  margin:0px;
  padding:0px;
  width: 100%;
  height: auto;

  grid-area: resumeLogo;

}

.left img {

display: block;
margin-left: auto;
margin-right: auto;

position: relative;

width: 95%;



}

.topright {

grid-area:topRubrik;

}

.toptext {

float:right;
margin-right:40px;

}

.toptext h3  {

display: inline-block;
text-transform: uppercase;

}

.h3_black {

  font-size:40px;
  color:black;

}


.topbottomright {
    background-color:#e6e3de;
width:100%;
border-top:2px double darkgrey;

grid-area:topContact;

}

.green {

font-size:40px;
text-transform: uppercase;
color:#379e7c;
}

.greensplah {

font-size:40px;
color:#379e7c;
padding:10px;

}

.main-right {

background-color:white;


}
