body {

background-color:black;
color:white;

}

.container {


width:100%;
height:800px;

}


.content {

width:800px;
margin:0 auto;


}


h1.content_h1 {

text-align: center;


}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
